
/*(max-width: 1300px) and (min-width: 769px)*/

@media (max-width: 1919px) and (min-width: 769px) {
    .companies{
        padding: 30px 0 35px;
    }
    .companies .companies_title{
        margin-bottom: 20px;
    }

    .header_wrapper{
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        width: auto;
    }
    .footer_wrapper{
        margin-left: 200px;
        margin-right: 200px;
        width: auto;

    }
    .container{
        width: auto;
        margin: 0 100px;
    }
    .companies_images-wrapper .companies_image{
        padding: 20px;
    }
    .service-block{
        width: 35%;
    }
    .stop-start .stop{
        width: 50%;
        margin-left: 0;
    }

    .stop-start .start{
        width: 55%;
        margin-left: 0;
    }
    .start .container{
        margin: 0 100px;
    }
}
@media (max-width: 1600px) and (min-width: 1440px) {
    .slider-block_title{
        font-size: 50px;
        line-height: 50px;
    }
    .slider-block_description{
        font-size: 32px;
        line-height: 36px;
    }
}
@media (max-width: 1440px) and (min-width: 1200px) {
    .slider-block_text{
        top: 15%;
    }
    .slider-block_title{
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 15px;
    }
    .slider-block_description{
        font-size: 32px;
        line-height: 36px;
    }
}
@media (max-width: 1600px) and (min-width: 769px) {

    /*.slider-block_title{*/
    /*    font-size: 36px;*/
    /*    line-height: 36px;*/
    /*}*/
    /*.slider-block_description{*/
    /*    font-size: 32px;*/
    /*    line-height: 36px;*/
    /*}*/

    .wconnect_title{
        font-size: 30px;
        line-height: 30px;
    }
    .wconnect_description{
        font-size: 22px;
        line-height: 25px;
    }
    .wconnect_image{
        margin-top: 7px;
        width: 60px;
    }
    .footer_wrapper{
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media (max-width: 1440px) and (min-width: 769px) {
    .nightmare-info:first-child .nightmare-info_title{
        margin-right: 0;
    }
    .footer_nav .menu-main_page_menu-container .menu {
        padding-left: 70px;
    }
    .footer_nav .footer_copyright{
        padding-left: 70px;
    }
    .header_nav .menu-main_page_menu-container .menu{
        padding-left: 100px;
    }
    .feature .feature_count{
        font-size: 56px;
    }
    .feature .feature_text{
        font-size: 26px;
    }
    .feature .feature_image{
        width: 55px;
    }
    .feature:nth-child(3) .feature_image{
        width: 30px;
    }
    .service-block{
        margin-right: 50px;
        width: 40%;
    }
    .service-wrapper{
        justify-content: center;
    }
    .service-wrapper-responsive{
        display: none;
    }
    .nightmare-info .title-wrapper{
        height: 100px;
        align-items: flex-start;
    }
    .wconnect{
        /*background-image: url("../images/ipad-mockup-r.png");*/

        background-repeat: round;
        padding: 45px 0 45px;

    }
    .wconnect_info{
        width: auto;
        margin-left: 55%;
    }
    .stop-start .title{
        font-size: 32px;
        line-height: 36px;
        height: 60px;
    }
    .stop-start .sub-title{
        font-size: 26px;
        line-height: 20px;
    }
    .stop-start .description .description_item{
        font-size: 22px;
        line-height: 40px;
    }
    .start .container, .stop .container{
        margin: 0 70px;
    }
    .footer_wrapper{
        margin-left: 80px;
        margin-right: 80px;
        justify-content: space-between;
    }
    .footer_form{
        display: block;
        width: 35%;
    }
    .footer_form-title{
        margin-bottom: 10px;
        padding-left: 28px;
    }
}

@media (max-width: 1200px) {
    .wconnect .container{
        margin: 0;
        margin-right: 50px;
    }
    .wconnect .wconnect_description{
        font-size: 20px;
        line-height: 23px;
    }
    .wconnect .wconnect_link{
        line-height: normal;
        font-size: 18px;
    }
    .wconnect{
        padding: 75px 0 60px;
    }
    .wconnect_title-wrapper{
        margin-right: 0;
    }
    .wconnect_title-wrapper .wconnect_title{
        font-size: 26px;
        line-height: 26px;
    }
    .wconnect_link{
        margin-top: 0;
    }

    .slider-block_title{
        font-size: 32px;
        line-height: 36px;
        width: 40%;
        margin-bottom: 15px;
    }
    .slider-block_description{
        font-size: 28px;
        line-height: 40px;
        width: 45%;
    }

    .footer_form input[type='submit'] {
        margin-left: 0;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 34px;
        padding: 8px 20px 8px;
        box-shadow: none;
    }
    .footer_form .submit{
        display: flex;
        justify-content: center;
    }
    .footer_form .submit::after {
        margin-left: -12px;
        padding-right: 18px;
        content: url("../images/arrow-white-mv.svg");
        box-shadow: none;
    }
}
@media (max-width: 1024px) and (min-width: 768px){
    .wconnect{
        padding: 30px 0 30px;
    }
    .wconnect_title-wrapper .wconnect_image{
        margin-top: 5px;
    }
}
@media (max-width: 1200px) and (min-width: 769px) {
    .header_nav .menu-main_page_menu-container .menu{
        padding-left: 50px;
    }
    .header_logo{
        width: 200px;
    }
    .header_logo a{
        display: block;
    }
    .header_logo .image_logo{
        width: 90%;
    }
    .companies_images-wrapper{
        justify-content: center;
    }
    .network-block_features{
        width: 100%;
    }
    .services_title{
        width: 55%;
        font-size: 33px;
    }
    .service-block_title{
        font-size: 22px;
        line-height: 22px;
    }
    .service-block_description{
        font-size: 22px;
    }
    .service-wrapper{
        justify-content: space-between;
    }
    .nightmare-info_title{
        font-size: 22px;
    }
    .nightmare-info_description{
        font-size: 20px;
    }
    .nightmare_title{
        font-size: 20px;
    }

    .companies_images-wrapper{
        justify-content: center;
    }
    .network-block_features{
        width: 100%;
    }
    .services_title{
        width: 55%;
        font-size: 33px;
    }
    .service-block_title{
        font-size: 22px;
        line-height: 22px;
    }
    .service-block_description{
        font-size: 22px;
    }
    .service-wrapper{
        justify-content: space-between;
    }
    .nightmare-info_title{
        font-size: 22px;
    }
    .nightmare-info_description{
        font-size: 20px;
    }
    .nightmare_title{
        font-size: 20px;
    }

    .stop-start .title{
        font-size: 28px;
        line-height: 30px;
        height: 70px;
    }
    .stop-start .sub-title{
        font-size: 24px;
    }
    .stop-start .description .description_item{
        font-size: 20px;
        line-height: 30px;
    }


    /*----------footer----------*/
    .footer {
        width: 100%;
    }

    .footer_wrapper {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }

    .footer_logo {
        order: 1;
        margin-left: 18%;
        padding-top: 15px;
        width: 145px;
    }
    .footer_logo a{
        display: block;
    }
    .footer_logo .image_logo{
        width: 100%;
    }
    .footer_form {
        box-sizing: border-box;
        order: 0;
        width: 55%;
        display: block;
        margin: 55px auto;
        padding: 28px 34px 45px 33px;
    }
    .footer_nav {
        order: 2;
        padding-top: 40px;
        width: auto;
        margin-left: 18%;
        box-sizing: border-box;
    }

    .footer_form form {
        width: 100%;
        margin-left: 0;
    }
    .footer_form-title{
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 28px;
        margin-bottom: 14px;
        padding-left: 0;
    }
    .footer_form p{
        padding-bottom: 29px;
    }
    .footer_nav .menu-main_page_menu-container .menu{
        width: 100%;
        padding-left: 0;
    }
    .footer_nav .footer_copyright{
        padding-left: 0;
        margin-bottom: 45px;
        margin-top: 20px;
    }
    .footer_nav .menu-main_page_menu-container .menu li{
        padding-right: 70px;
        width: initial;
    }
    .footer_nav .menu-main_page_menu-container .menu li:nth-child(3){
        padding-right: 70px;
    }

}
@media (max-width: 1024px) and (min-width: 769px) {
    .header_wrapper, .footer_wrapper{
        margin-left: 30px;
        margin-right: 30px;
    }
    .header_nav .menu-main_page_menu-container .menu{
        padding-left: 10px;
    }
    .header_nav .menu-main_page_menu-container .menu li{
        padding-right: 40px;
    }
    .header_btn{
        margin-left: 0;
    }
    .service-block{
        margin-right: 30px;
        margin-left: 20px;
    }
    .nightmare-info_title{
        font-size: 18px;
    }
    .nightmare-info_description{
        font-size: 18px;
    }
    .slider-block_text{
        top: 10%;
    }
    .slider-block_title{
        font-size: 26px;
        line-height: 34px;
        width: 40%;
        margin-bottom: 10px;
    }
    .slider-block_description{
        font-size: 22px;
        line-height: 30px;
        width: 45%;
    }
}
@media (max-width: 960px) and (min-width: 769px) {
    .header_nav .menu-main_page_menu-container .menu li a {
        font-size: 16px;
    }

    .header_logo {
        width: 150px;
    }

    .header_btn {
        width: 130px;
    }
    .header_btn a {
        font-size: 16px;
    }
    .header_wrapper{
        justify-content: space-around;
    }
    .header_wrapper, .footer_wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    .container {
        margin: 0 60px;
    }

    .feature .feature_count {
        font-size: 46px;
    }

    .feature .feature_text {
        font-size: 24px;
    }

    .service-block_title {
        font-size: 20px;
    /*line-height: 22px;*/
    }

    .service-block_description {
        font-size: 18px;
    }

    .stop-start .title {
        font-size: 28px;
        line-height: 32px;
    }

    .stop-start .sub-title {
        font-size: 24px;
    }

    .stop-start .description .description_item {
        font-size: 20px;
    }

    .stop-start .start {
        width: 57%;
        margin-right: -60px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .slider-mobile.owl-carousel.owl-loaded{
        display: block;
    }
    .slider-mobile .owl-nav{
        display: none;
    }
    .slider-mobile .owl-dots{
        position: absolute;
        bottom: 20px;
        left: 45%;
    }
    .slider{
        display: none;
    }

    /*.header{*/
    /*    position: fixed;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    width: 100%;*/
    /*    z-index: 10;*/
    /*    background-color: white;*/
    /*}*/
    /*.content{*/
    /*    margin-top: 70px;*/
    /*}*/

    .header_wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        width: auto;
    }

    .header_nav {
        display: none;
    }

    .header_btn {
        display: none;
    }

    .header_logo {
        width: 145px;
        margin-left: 40px;
    }

    .header_logo .image_logo {
        width: 100%;
        padding: 5px 0;
    }

    .header_wrapper .hamburger {
        display: block;
        margin-right: 33px;
        top: 20px;
    }
    .menu-sidebar .current_page_item a{
        border-bottom: 4px solid #0014C2;
    }
    .companies {
        padding: 27px 0 45px;
        justify-content: space-between;
        align-items: center;
    }

    .companies_slider-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 25px;
    }

    .companies .companies_title {
        font-size: 26px;
        line-height: 28px;
        padding: 0 40px;
        margin-bottom: 40px;
    }

    .companies_images-wrapper {
        flex-wrap: nowrap;
        overflow: hidden;
        margin: 0 10px;
    }

    .companies_images-wrapper .companies_image {
        margin: 0 20px;
    }

    .companies_image.item {
        margin: 0 auto;
    }
    .network-block {
        padding: 44px 0 20px;
        background-image: url("../images/network-BG-mobile.png");
    }

    .network-block .network-block_features {
        display: block;
    }

    .network-block .network-block_title {
        font-size: 26px;
        line-height: 42px;
        margin-bottom: 40px;
    }

    .network-block_features .feature {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        margin-bottom: 30px;
    }

    .network-block_features .feature .feature_image {
        width: 50px;
        margin-right: 36px;
        padding-bottom: 0
    }

    .network-block_features .feature:nth-child(3) .feature_image {
        width: 25px;
    }

    .feature .feature_count {
        margin-right: 10px;
    }

    .feature:nth-child(2) .feature_text {
        float: left;
        margin-left: -56px;
    }

    .feature:nth-child(2) .feature_count {
        float: right;
        margin-left: 40px;
    }

    .feature .feature_count, .feature .feature_text {
        font-size: 28px;
        font-weight: bold;
        line-height: 30px;
        text-align: end;
        /*margin-top: 15px;*/
    }

    .services .services_title {
        width: 80%;
        margin-left: 34px;
        font-size: 34px;
        letter-spacing: 0;
        line-height: 34px;
        font-weight: 800;
    }

    .service-wrapper {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .service-block {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }

    .service-block {
        display: none;
    }

    .service-block_description {
        margin: 0 10px;
        font-size: 24px;
        letter-spacing: 0;
        line-height: 26px;
        margin-top: 50px;
    }

    .service-block_image {
        margin-right: 0
    }

    .service-block_title {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 28px;
    }

    .services_slider {
        display: block;
    }

    .services_slider-wrapper {
        display: flex;
        align-items: center;
        margin: 0 16px;
    }


    /*---nightmare---*/
    .title-wrapper {
        cursor: pointer;
    }

    .nightmare-info {
        margin-bottom: 24px;
        padding-top: 17px;

        box-sizing: border-box;
        border-top: 1px solid #A0A0A0;
    }

    .nightmare-info:first-child {
        border: none;
    }

    .nightmare_title {
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 31px;
        margin: 0 34px 10px;
    }

    .nightmare_info-wrapper {
        display: block;
        margin: 0 34px;
    }

    .nightmare-info_title {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
    }

    .nightmare_info-wrapper .nightmare-info {
        width: 100%;
    }

    .nightmare-info .title-wrapper {
        margin-bottom: 0;
        /*transition: all 1s linear;*/
    }

    /*.nightmare-info .title-wrapper.transform {*/
    /*    transform: rotate(90deg);*/
    /*}*/
    .nightmare_info-wrapper .nightmare-info_description {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 21px;
    }

    .nightmare-info_description {
        display: none;
        margin-top: 20px
    }

    .wconnect {
        padding: 39px 32px 360px 34px;
        background-image: url("../images/ipad-mockup-r.png");
        background-repeat: round;
    }
    .wconnect_info {
        width: 100%;
        margin-left: 0;
    }

    .wconnect_title-wrapper {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .wconnect_title {
        font-size: 34px;
        font-weight: 800;
        letter-spacing: 0;
        line-height: 34px;
    }

    .wconnect_image {
        margin-top: 0;
        margin-right: 10px;
        width: 75px;
    }

    .wconnect_link {
        color: #0014C2;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 26px;
        font-weight: normal;
        margin-top: 18px;
    }

    .stop-start {
        display: block;
        margin-top: 45px
    }

    .stop-start .stop, .stop-start .start {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .stop-start .stop .container {
        margin: 0 34px 60px 34px;
    }

    .stop-start .title {
        font-size: 34px;
        font-weight: 800;
        line-height: 34px;
    }

    .stop .description_item {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .stop-start .start {
        transform: skew(0, 8deg);
        margin-bottom: -25px;
    }

    .start .container {
        padding: 60px 47px 0 35px;
        margin: 0;
        transform: skew(0, -8deg);
    }

    .start .description .description_item {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .stop .sub-title, .start .sub-title {
        font-size: 32px;
        font-weight: bold;
        line-height: 26px;
    }

    .content-start_btn {
        width: 203px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 70px;
        padding-bottom: 50px;
    }
    .content-start_btn a{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 47.31px;
    }
    .content-start_btn-wrapper {
        text-align: center;
    }


    /*----------footer----------*/
    .footer {
        width: 100%;
    }

    .footer_wrapper {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        width: auto;
    }

    .footer_logo {
        order: 1;
        margin-left: 34px;
        padding-top: 15px;
        width: 145px;
    }
    .footer_logo a{
        display: block;
    }
    .footer_logo .image_logo{
        width: 100%;
    }
    .footer_form {
        box-sizing: border-box;
        order: 0;
        width: 85%;
        display: block;
        margin: 55px auto;
        padding: 28px 34px 45px 33px;
    }
    .footer_nav {
        order: 2;
        padding-top: 40px;
        width: 100%;
        padding-left: 34px;
        box-sizing: border-box;
    }

    .footer_form form {
        width: 100%;
        margin-left: 0;
    }
    .footer_form .submit{
        display: flex;
        justify-content: center;
    }
    .footer_form-title{
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 28px;
        margin-bottom: 14px;
    }
    .footer_form p{
        padding-bottom: 29px;
    }
    .footer_nav .menu-main_page_menu-container .menu{
        width: 100%;
        padding-left: 0;
    }
    .footer_nav .footer_copyright{
        padding-left: 0;
        margin-bottom: 45px;
        margin-top: 20px;
    }
}

@media screen and (width: 320px) {
.network-block_features{
    width: 85%;
}
}
@media screen and (max-width: 340px) {
    .companies_images-wrapper .companies_image{
        margin: 0 10px;
    }
}
@media (max-width: 768px) and (min-width: 360px) {
    .feature:nth-child(2) .feature_text{
        float: none;
        margin-left: 0;
    }
    .feature:nth-child(2) .feature_count{
        float: none;
        margin-left: 0;
    }
    .network-block_features .feature{
         justify-content: normal;
    }
    .feature .feature_count, .feature .feature_text{
        text-align: start;
    }
    .stop-start .start{
        margin-bottom: -80px;
    }
    .content-start_btn{
        margin-bottom: 120px;
    }
}
@media (max-width: 768px) and (min-width: 375px) {
    .companies .companies_images-wrapper{
        width: 275px;
        margin: 0 auto;
    }
}
@media (max-width: 768px) and (min-width: 425px) {
    .network-block_features{
        width: 85%;
    }
    .network-block_features .feature{
        margin-bottom: 45px;
    }
}
@media (max-width: 768px) and (min-width: 600px) {
    .wconnect {
        padding: 80px 100px 430px 95px;
    }
    .wconnect .wconnect_description{
        font-size: 30px;
        line-height: 40px;
    }
    .wconnect_title-wrapper{
        margin-bottom: 50px;
    }
    .wconnect_title-wrapper .wconnect_title{
        line-height: 45px;
        font-size: 36px;
    }
    .wconnect_image{
        margin-top: 12px;
    }
    .wconnect .wconnect_link{
        font-size: 26px;
        margin-top: 35px;
    }
    .nightmare{
        padding-bottom: 60px;
    }
}
@media (max-width: 700px) and (min-width: 600px) {
    .wconnect {
        padding: 80px 100px 430px 95px;
    }
    .wconnect .wconnect_description{
        font-size: 26px;
        line-height: 35px;
    }
    .wconnect_title-wrapper{
        margin-bottom: 50px;
    }
    .wconnect_title-wrapper .wconnect_title{
        line-height: 40px;
        font-size: 32px;
    }
    .wconnect_image{
        margin-top: 10px;
    }
    .wconnect .wconnect_link{
        font-size: 21px;
        margin-top: 28px;
    }
    .nightmare{
        padding-bottom: 60px;
    }
}
@media (max-width: 600px) and (min-width: 500px) {
    .wconnect {
        padding: 50px 50px 360px 50px;
    }
    .wconnect .wconnect_description{
        font-size: 23px;
        line-height: 30px;
    }
    .wconnect_title-wrapper{
        margin-bottom: 50px;
    }
    .wconnect_title-wrapper .wconnect_title{
        line-height: 35px;
    }
    .wconnect_image{
        margin-top: 7px;
    }
    .wconnect .wconnect_link{
        font-size: 20px;
        margin-top: 25px;
    }
}

@media (max-width: 768px) and (min-width: 500px) {


    .companies .companies_images-wrapper{
        width: 400px;
    }
    .network-block_features .feature{
        justify-content: center;
    }
}
@media (max-width: 768px) and (min-width: 600px) {
    .companies .companies_images-wrapper{
        width: 425px;
    }
    .start .container{
        padding-top: 80px;
    }
    .stop-start .stop{
        padding-bottom: 40px;
    }
    .footer_form {
        width: 70%;
    }
}
@media (min-width: 768px) {
    .nightmare-info .title-wrapper{
        pointer-events: none;
    }
    .nightmare-info_description{
        display: block !important;
    }
    .nightmare-info_icon{
        transform: rotate(0deg) !important;
    }
}
@media (max-width: 1440px) {
    .companies_images-wrapper_carousel{
        display: flex !important;
    }
    .companies_images-wrapper{
        display: none;
    }
    .companies_slider {
        display: block;
    }
    .companies_slider.left{
        background-image: url("../images/nav_left.svg");
        background-repeat: no-repeat;
        width: 18px;
        height: 30px;
        top: 25%;
        left: -35px;
        position: absolute;
    }
    .companies_slider.right{
        background-image: url("../images/nav_right.svg");
        background-repeat: no-repeat;
        width: 18px;
        height: 30px;
        top: 25%;
        right: -37px;
        position: absolute;
    }
    .companies_image.item{
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .companies_slider-wrapper .owl-carousel{
        width: 85%;
        margin: 0 auto;
    }

    .services_slider-wrapper .owl-carousel{
        width: 85%;
        margin: 0 auto;
    }
    .service-block_text{
        text-align: center;
        height: 120px;
    }
    .owl-carousel .owl-item .service-block_image{
        width: 60px;
        height: 60px;
        display: initial;
    }

    .owl-carousel .owl-item .service-block_title{
        font-size: 21px;
        width: 65%;
        margin: 10px auto 0;
    }
    .owl-carousel .owl-item .service-block_description{
        font-size: 20px;
    }

    .services_slider.left{
        background-image: url("../images/nav left s.svg");
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        top: 25%;
        left: -35px;
        position: absolute;
    }
    .services_slider.right{
        background-image: url("../images/nav right s.svg");
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        top: 25%;
        right: -45px;
        position: absolute;
    }
    .service-wrapper-responsive{
        display: block !important;
    }

    .services{
        background-image: url(../images/BG-mobile.png);
    }

    .services_read-more{
        line-height: 42px;
        text-align: left;
        cursor: pointer;
        width: 80%;
        margin: 30px auto 0;
    }
    .services_read-more a{
        font-weight: 200;
        text-decoration: none;
        border-bottom: 1px solid;
    }

    .menu-wrap-logo{
        padding-top: 25px;
        margin-left: -65px;
    }
}
@media (max-width: 768px) {
    .owl-carousel .owl-item .service-block_description {
        text-align: justify;
    }
    .services_slider.left{
        top: 25%;
        left: -25px;
        position: absolute;
    }
    .services_slider.right{
        top: 25%;
        right: -35px;
        position: absolute;
    }

    .slider-block_text{
        top: 10%;
        left: 15%;
    }
    .slider-block_title{
        width: 65%;
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 25px;
    }
    .slider-block_description{
        width: 65%;
        font-size: 40px;
        line-height: 40px;
    }

    .slider-block_title.mobile-title-2{
        color: #0014C2;
    }
    .slider-block_description.mobile-description-2{
        color: #363535;
    }
    .slider-mobile.owl-theme .owl-dots .owl-dot span{
        width: 12px;
        height: 12px;
    }
}
@media (max-width: 660px) {
    .slider-block_title{
        width: 85%;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 15px;
    }
    .slider-block_description{
        width: 80%;
        font-size: 36px;
        line-height: 36px;
    }
}
@media (max-width: 500px) {
    .slider-block_text{
        top: 5%;
        left: 10%;
    }
    .slider-block_title{
        width: 90%;
        font-size: 42px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .slider-block_description{
        width: 95%;
        font-size: 26px;
        line-height: 26px;
    }
}
@media (max-width: 425px) {
    .slider-block_title{
        width: auto;
    }
}
