.sign-up{
    padding: 72px 0 150px;
    background-image: url("images/BG image.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.sign-up_image{
    display: none;
}
.sign-up_form{
    margin-left: 135px;
}
.sign-up_title{
    color: #0014C2;
    font-family: 'Assistant', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.sign-up_form form{
    width: 43%;
}
.sign-up_form form:last-child{
    color: red;
}
.sign-up_form form span{
    display: flex;
    flex-flow: column-reverse;
    color: red;
}
.sign-up_form form span input{
    width: 100%;
    border: none;
    margin-bottom: 16px;
    border-bottom: 1px solid #363535;
    padding-top: 26px;
    padding-bottom: 5px;
}
.sign-up_form .submit-wrapper .submit{
    display: flex;
    margin-top: 30px;
    justify-content: flex-end;
}
.sign-up_form input[type='submit']{
    border-top-left-radius: 4.8px;
    border-bottom-left-radius: 4.8px;
    box-shadow: 2px 3px 10px 0 rgba(54,53,53,0.5);
    border: none;
    padding: 5px 8px 9px 15px;
    color: #FFFFFF;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    background-color: #FF5A5A;

}
.sign-up_form input[type='checkbox'] {
    box-sizing: border-box;
    height: 17px;
    width: 17px;
    border: 1px solid #363535;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 10px;
}

.sign-up_sign-in-text{
    color: #0014C2;
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 52px;
}
.sign-up_sign-in-text a{
    color: #0014C2;
}

.sign-up_form .submit::after{
    content: url("images/arrow-white.svg");
    background-color: #FF5A5A;
    padding: 7px 10px 11px 0;
    border-top-right-radius: 4.8px;
    border-bottom-right-radius: 4.8px;
    display: flex;
    align-items: center;
    box-shadow: 8px 2px 14px 0 rgba(3,40,40,0.4);
}
.privacy-text, .privacy-text a{
    color: #363535;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 38.4px;
}
.sign-up_form .privacy-wrapper input{
    float: left;
    margin-top: 10px;
}
.sign-up_form .submit-wrapper{
    margin-bottom: 30px;
}
.screen-reader-response{
    display: none;
}