@media (max-width: 1440px) {
    .contact-us .form-wrapper .contact-us_form-title{
        font-size: 54px;
        line-height: 54px;
    }
    /*.contact-us{*/
    /*    margin-top: 70px;*/
    /*}*/
    .contact-us .form-wrapper{
        width: 55%;
        margin-right: 70px;
        margin-top: 0;
    }
    .contact-us_form .container-input div:first-child{
        width: 50%;
    }
    .contact-us_form .container-input div:last-child{
        width: 50%;
    }
    .contact-us input[type='submit']{
        padding-right: 12px;
    }
    .contact-us .submit::after{
        margin-left: -2px;
    }
    .contact-us .contacts .title-wrapper{
        margin-bottom: 30px;
    }
    .contact-us .contacts .bullets .bullet{
        margin-bottom: 25px;
    }
    .contact-us .contacts .bullets li{
        font-size: 22px;
    }
    .contact-us .contacts .bullets p{
        font-size: 22px;
    }

    .contact-us .form-wrapper{
        width: 75%;
        margin-right: 50px;
    }
    .contact-us .contacts .title{
        font-size: 32px;
        line-height: 32px;
    }
    .contact-us .contacts .bullets li{
        margin-bottom: 10px;
        line-height: 31px;
    }
}
@media (max-width: 1200px) {
    .contact-us .contacts .title-wrapper{
        margin-bottom: 50px;
    }
    .contact-us .contacts .bullets .bullet{
        margin-bottom: 40px;
    }
    .contact-us .form-wrapper .contact-us_form-title{
        font-size: 45px;
        line-height: 45px;
    }
    .contact-us .form-wrapper .contact-us_form-description{
        font-size: 34px;
        line-height: 38px;
        margin-right: 20%;
        margin-bottom: 33px;
    }

    .contact-us .form-wrapper{
        width: 75%;
        margin-right: 50px;
    }
    .contact-us .contacts .title{
        font-size: 32px;
        line-height: 32px;
    }
    .contact-us .contacts .bullets li{
        margin-bottom: 10px;
        line-height: 31px;
    }
    .contact-us_form .container-input{
        flex-direction: column;
        align-items: center;
    }
    .contact-us_form .container-input div:first-child{
        width: 65%;
    }
    .contact-us_form .container-input div:last-child{
        width: 65%;
    }
    .contact-us_form form span input, .contact-us_form form span textarea{
        margin-bottom: 35px;
    }
    .contact-us .submit-wrapper{
        padding-right: 25%;
    }
}

@media (max-width: 1024px) {
    .contact-us .submit-wrapper{
        justify-content: flex-start;
        padding-right: 0;
    }
    .contact-us .container{
        display: block;
    }
    .contact-us .form-wrapper{
        width: auto;
        margin: 60px 75px 19px 75px;
    }
    .contact-us .form-wrapper .contact-us_form-title{
        font-size: 42px;
        line-height: 40px;
    }
    .contact-us .form-wrapper .contact-us_form-description{
        font-size: 26px;
        letter-spacing: 0;
        line-height: 26px;
        margin-bottom: 19px;
        margin-right: 0;
    }
    .contact-us_form .container-input{
        display: block;
    }
    .contact-us_form .container-input div:first-child{
        width: auto;
        margin-right: 0;
    }
    .contact-us_form .container-input div:last-child{
        width: auto;
        margin-right: 0;
    }
    .contact-us_form form span input, .contact-us_form form span textarea{
        color: #A0A0A0;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 42.24px;
    }
    .contact-us input[type='submit']{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 47.31px;
        padding: 0 10px 7px 30px;
    }
    .contact-us .submit::after{
        padding: 7px 30px 11px 0;
    }
    .contact-us_form .submit-wrapper .submit{
        justify-content: initial;
    }
    .contact-us .submit::after{
        content: url("../images/arrow-white-mv.svg");
    }
    .contact-us_form{
        margin-bottom: 80px;
    }
    .contacts{
        margin: 0 40px 80px 80px;
    }
    .contact-us .contacts .title{
        font-size: 34px;
        line-height: 34px;
    }
    .contact-us .contacts .title-wrapper{
        margin-bottom: 35px;
    }
    .contact-us .contacts .bullets li{
        line-height: 30px;
    }
}
@media (max-width: 425px) {
    .contact-us .form-wrapper{
        margin: 29px 33px 19px 32px;
    }
    .contacts{
        margin:0 40px 80px 40px;
    }
}