@media (max-width: 360px) {
    .service .service-slogan_title{
        font-size: 42px;
        font-weight: 800;
        line-height: 40px;
        margin: 0 32px;
    }
    .service.service-slogan{
        padding-top: 27px;
        padding-bottom: 164px;
    }
    .service .service-slogan_description{
        font-size: 26px;
        letter-spacing: 0;
        line-height: 26px;
        margin: 15px 27px 0 32px;
    }
    .service .service-slogan_btns{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 22px;
        margin-left: 55px;
        margin-top: 25px;
    }
    .service .service-slogan_btns li{
        margin-right: 0;
    }
    .service.service-slogan{
        background-image: url("../images/header-image-service mobile.png");
    }
    .service.service-main-description .container{
        display: block;
    }
    .service.service-main-description{
        padding-top: 35px;
    }
    .service .service-main-description_title{
        font-size: 26px;
        letter-spacing: 0;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .service .service-main-description_text{
        font-size: 24px;
        letter-spacing: -0.2px;
        line-height: 26px;
    }
    .service .service-main-description_info{
        margin: 0 32px;
        width: auto;
    }
    .service-main-description_bullets{
        margin: 14px 32px 43px 32px;
    }
    .service .service-main-description_bullets .bullet{
        width: auto;
        margin-bottom: 0;
    }
    .service .service-main-description_bullets .bullet_image{
        margin-top: 6px;
        margin-right: 15px;
    }
    .service .bullet_wrapper h3{
        margin-right: 50px;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
    }
    .service.service-features.f{
        padding: 43px 0 188px;
        background-image: url("../images/bg service mobile.png");
    }
    .service.service-features.s{
        padding: 189px 0 61px;
    }
    .service.service-features .service-features_title{
        margin: 0 43px 30px 34px;
        font-size: 34px;
        line-height: 34px;
        font-weight: 800;
    }
    .service .service-noslider{
       display: none;
    }
    .service .service-slider.owl-carousel{
        display: block;
    }
    .service.service-features .service-features-wrapper .wrapper{
        margin: 0 45px;
        display: block;
    }
    .service.service-features .service-features-wrapper .text{
        margin: 0 10px;
    }
    .service.service-features .service-features-wrapper .title{
        font-weight: bold;
        letter-spacing: 0;
        line-height: 28px;
    }
    .owl-carousel .owl-item img{
        width: initial;
    }
    .service.service-features .service-features-wrapper .image-wrapper{
        display: flex;
        width: auto;
        align-items: center;
        margin-bottom: 23px;
    }
    .service.service-features .service-features-wrapper .image{
        margin-top: 0;
        margin-right: 24px;
    }

    .service_slider.left{
        background-image: url("../images/main-arrow-l.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 27px;
        width: 16px;
        top: 25%;
        left: 20px;
        position: absolute;
    }
    .service_slider.right{
        background-image: url("../images/arrow-main.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 27px;
        width: 16px;
        top: 25%;
        right: 20px;
        position: absolute;
    }
    .service.service-features-wrapper .service-features_image{
        position: absolute;
        top: 38%;
        left: 8%;
    }
    .service.service-features-wrapper .service-features_image img{
        width: 291px
    }
    .service.service-features.s .service-features_title{
        margin: 0 41px 41px 34px;
        font-size: 34px;
        font-weight: 800;
        line-height: 34px;
    }
    .service.cta{
        padding: 42px 34px 55px 34px;
    }
    .service.cta .cta_title, .service.cta .cta_description{
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 0;
        line-height: 31px;
        text-align: center;
    }
    .service.cta .cta_image{
        float: initial;
        margin: 0 0 25px 0;
    }
    .service.cta .wrapper div{
        width: initial;
    }
}