@media (max-width: 1600px){
    .shipping-app_slogan .slogan_title{
        margin: 0 0 48px 0;
    }
    .shipping-app_slogan .slogan_description{
        margin: 0 0 35px 0;
    }
    .shipping-app_image img{
        width: 85%;
    }
    .features_image img{
        width: 95%;
    }
    .shipping-app-features .features_bullets .bullet{
        width: auto;
        margin-right: 30px;
    }
    .shipping-app-features .features_bullets p{
        margin-left: 0;
    }
    .shipping-app-features .features_bullets li{
        margin-left: 25px;
        line-height: 30px;
        height: 60px;
    }

    .shipping-app_slider.left{
        background-image: url("../images/nav left s.svg");
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        top: 10%;
        left: -50px;
        position: absolute;
    }
    .shipping-app_slider.right{
        background-image: url("../images/nav right s.svg");
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        top: 10%;
        right: -40px;
        position: absolute;
    }
    .shipping-app-features{
        padding-bottom: 20px;
    }
    .shipping-app-using .using-app_bullets{
        margin: 0 5% 60px 10%;
    }
}

@media (max-width: 1024px) {
    .shipping-app_slogan .slogan_title{
        font-size: 42px;
        letter-spacing: 0;
        line-height: 40px;
        text-align: center;
        margin: 0 33px 10px;
    }
    .shipping-app_slogan .slogan_description{
        font-size: 26px;
        line-height: 26px;
        text-align: center;
        margin: 0 33px 17px;
    }
    .shipping-app{
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .shipping-app_video .text{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.6px;
        line-height: 40px;
    }
    .shipping-app_video .play{
        height: 43px;
        width: 42px;
        margin-right: 16px;
    }
    .shipping-app_video .play img{
        width: 100%;
    }
    .shipping-app_image img{
        width: 91%;
    }
    .shipping-app_image{
        margin-bottom: 50px;
    }
    .shipping-app-features{
        padding-top: 33px;
        padding-bottom: 0;
        background-image: url("../images/BG mobile shipping app.png");
    }
    .shipping-app-features .features_title{
        font-size: 26px;
        font-weight: 800;
        line-height: 28px;
        margin: 0 78px 21px 33px;
    }
    .shipping-app-features .features_bullets{
        /*margin: 0 33px 0 58px;*/
        margin: 0 55px 0 60px;
    }
    .features_bullets.owl-carousel{
        width: auto;
    }

    .shipping-app-features .features_bullets .bullet{
        width: 90%;
        margin: 0 auto;
    }
    .shipping-app-features .features_bullets li{
        line-height: 28px;
        margin-left: 25px;
        height: 60px;
    }
    .shipping-app-features .features_bullets p{
        margin-left: 0;
    }
    .modal-content {
        width: 90%;
    }
    .shipping-app_slider.left{
        background-image: url("../images/nav left s.svg");
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        top: 10%;
        left: -35px;
        position: absolute;
    }
    .shipping-app_slider.right{
        background-image: url("../images/nav right s.svg");
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        top: 10%;
        right: -40px;
        position: absolute;
    }

    .features_image img{
        width: 91%;
    }
    .shipping-app-using .using-app_bullets li {
        text-align: start;
        margin-left: 35px;
    }
    .shipping-app-using .using-app_bullets img{
        margin-bottom: 0;
        width: 68px;
        height: 70px;
    }
    .shipping-app-using .using-app_bullets .bullet div{
        width: 80px;
    }
    .shipping-app-using .using-app_bullets .bullet{
        display: flex;
        align-items: center;
        margin-bottom: 35px;
    }

    .shipping-app-using_btn{
        width: 204px;
        height: 50px;
        margin-right: 75px;
    }
    .shipping-app-using{
        padding-bottom: 56px;
        background-image: url("../images/features bg shipping app.png");
    }
}
@media (max-width: 768px) {
    .shipping-app{
        padding-top: 29px;
    }
    .shipping-app-using .using-app_title{
        font-size: 26px;
        letter-spacing: 0;
        line-height: 31px;
        text-align: initial;
        margin: 0 31px 25px 34px;
    }
    .shipping-app-using .using-app_bullets{
        display: block;
        margin: 0 31px 56px 34px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .shipping-app-using .using-app_title{
        font-size: 26px;
        letter-spacing: 0;
        line-height: 31px;
        text-align: center;
    }
    .shipping-app-using_btn{
        margin-right: 0;
    }
}
@media (max-width: 659px) {
    .shipping-app-features .features_bullets .bullet{
        width: 100%;
        margin-right: 0;
    }
}