@media (max-width: 1024px){
    .sign-up_image{
        display: block;
        margin-bottom: 20px;
        order: 2;
    }
    .sign-up_form{
        margin-left: 0;
    }
    .sign-up_wrapper{
        display: flex;
    }
    .sign-up_form form{
        width: 90%;
    }
    .sign-up{
        background-image: url("../images/shipping-app-BG-W icon-mobile.svg");
        background-position-y: 50px;
        background-size: initial;
        background-position-x: right;
    }
    .sign-up_form form span input{
        background: none;
    }

}
@media (max-width: 768px) {
    .sign-up_wrapper{
        display: block;
    }
    .sign-up{
        padding: 29px 0 40px;
        background-image: url("../images/shipping-app-BG-W icon-mobile.svg");
        background-position-y: 170px;

        background-size: contain;
        background-position-x: 0;
    }
    .sign-up_form{
        margin-left: 0;
    }
    .sign-up_title{
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 28px;
        margin-left: 12%;
    }
    .sign-up_image{
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    .sign-up_form form{
        width: 70%;
        margin: 0 auto;
        /*padding: 0 100px;*/
        /*box-sizing: border-box;*/
    }
    .sign-up_form form span input::placeholder{
        color: #A0A0A0;
        font-size: 20px;
        line-height: 42.24px;

    }
    .sign-up_form form span input{
        background: none;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .sign-up_form .submit-wrapper .submit{
        justify-content: initial;
    }
    .sign-up_form input[type='submit']{
        font-size: 24px;
        line-height: 47.31px;
        padding: 0 20px 3px 25px;
    }
    .sign-up_form .submit::after{
        padding: 7px 20px 10px 0;
        content: url("../images/arrow-white-mv.svg");
        margin-left: -10px;
        box-shadow: 7px 4px 8px 0 rgba(3,40,40,0.4);
    }

    .sign-up_image img{
        width: 50%;
    }
}

@media (max-width: 500px) {
    .sign-up_form form{
        width: 100%;
        padding: 0 32px;
        box-sizing: border-box;
    }
    .sign-up_image img{
        width: auto;
    }
    .sign-up{
        background-size: inherit;
        background-position-x: 140px;
    }
    .sign-up_title{
        margin: 0 32px 20px;
    }
}
